body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right:20px;
}
h1{
  text-align: center;
}
.navbar ul{
  list-style-type: none;
  background-color: hsl(0, 0%, 25%);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}

body {
  background: #000000;
}
p {
  color: white
}
h1 {
  font-weight: bold;
  color: white
}

h2 {
  color: white
}
h3 {
  color: white
}
h4 {
  color: white
}
h5 {
  color: white
}
h6 {
  color: white
}

img {
  float: left;
  width: 240px;
  margin: 10px;
  border-color:white;
  border-width: 4px;
  border-style: solid;
  border-radius:50px;
}
li {
  color: white
}

th {
  color: white
}

td {
  color: white
}
table {
  border-color: white;
color: white;
}
.chicken{
  color:white
}

.black {
  background: #000000;
}
.body {
  background-color: black;
}

* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 100px;
  height: 100px;
}